* {
    font-family: sans-serif;
    margin: 0 auto;
}

body {
    background-color: black;
}

.app-container {
    border-radius: 15px;
}

#app {
    max-width: 85%;
    margin-top: 2%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
}

#navbar ul {
    list-style: none;
}

