<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="login.js"></script>
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="login.css"
</head>
<body onload="Init()">
    <div id="login">

            <label for="username"> Username </label> <br>
            <input type="text" name="usrname" placeholder="username" id="username"  v-model="username">
        <br>
            <label for="password"> Password </label> <br>
            <input type="password" name="password" id="password" v-model="password"><br>
        <br>
            <input type="submit" value="Login" onclick="Login()">
        <br>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	
	<script>
		
		
	</script> 
</body>
</html>