<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='icon' href='/static/snippets/images/voxel.ico' type='image/x-icon'/>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">	

    </head>
    <body>
        <div id="app" class="app-container">
            <div id="reset">
                <div id="reset-container">
                    
                </div>
            </div>
        </div>
    </body>
</html>